####################################################################################################
#                                                                                                    
#  /__  ___/         /|    //| |         //   / /      \\ / /                                        
#    / /            //|   // | |        //   / /        \  /                                         
#   / /            // |  //  | |       //   / /         / /                                          
#  / /            //  | //   | |      //   / /         / /\\                                         
# / /            //   |//    | |     ((___/ /         / /  \\     ()                                 
#                                                                         ___   ___                  
#     //   ) )         //   ) )         /|    / /         //   / /           / /            //   ) ) 
#    //               //   / /         //|   / /         //___              / /            //        
#   //               //   / /         // |  / /         / ___              / /            //  ____   
#  //               //   / /         //  | / /         //                 / /            //    / /   
# ((____/ /        ((___/ /         //   |/ /         //               __/ /___         ((____/ /    
# by t-truong
# Configuration file for { tmux }
####################################################################################################





#Behavior===========================================================================================
new -s "Main Session" -n "Main Window" -x "$COLUMNS" -y "$LINES" #this is required to create panes layout inside config
                                                                 #remember to export $COLUMNS and $LINES from shell
#general
set -g history-limit 1000
set -sg escape-time 10    #set tmux [Esc] delay to 10ms
#modes
set -g mouse on #mouse mode





#Key Binds==========================================================================================
#bind-key -n options requires no prefix
#general
unbind-key -a                  #unbind all keys
bind-key -n M-: command-prompt #enter command mode
bind-key -n M-c kill-server    #clean kill tmux
#visuals
bind-key -n M-| split-window -h    #split into vertical
bind-key -n M-_ split-window -v    #split into horizontal
bind-key -n M-Up select-pane -U    #focus upper pane
bind-key -n M-Down select-pane -D  #focus lower pane
bind-key -n M-Left select-pane -L  #focus left pane
bind-key -n M-Right select-pane -R #focus right pane
bind-key -n C-X resize-pane -Z     #fullscreen pane





#Visual Settings====================================================================================
#Palette--------------------------------------------------------------------------------------------
set -g @BLACK       "#080808" #true black
set -g @PSEUDOBLACK "#121212" #one shade away from black
set -g @DARKGRAY    "#3A3A3A"
set -g @PINK        "#FF7DCB" #deep pastel pink
set -g @MINT        "#5FD7AF"
#End Palette----------------------------------------------------------------------------------------
#status bar
set-option -g status on
set-option -g status-interval 9999                  #refresh rate
set-option -g status-keys vi                        #vi-mode in tmux commands
set-option -g status-left " tmux"
set-option -g status-right ""
set-option -g window-status-current-format ""
set-option -g window-status-format ""
set-option -g status-style fg=black,bg="#{@MINT}"
set -g message-style fg="#{@BLACK}",bg="#{@PINK}" #color of status bar on entering command-mode
#panes layout
split-window -v -l 15  #creates lower left pane
split-window -h -l 175 #creates lower right pane
select-pane -t 0       #jump to main pane
#panes visuals
set -g pane-border-style fg="#{@DARKGRAY}",bg="#{@PSEUDOBLACK}"
set -g pane-active-border-style fg="#{@PINK}",bg="#{@PSEUDOBLACK}"
set -g window-active-style bg="#{@BLACK}"
set -g window-style bg="#{@PSEUDOBLACK}"





####################################################################################################
#                                                                                                    
#  /__  ___/         /|    //| |         //   / /      \\ / /                                        
#    / /            //|   // | |        //   / /        \  /                                         
#   / /            // |  //  | |       //   / /         / /                                          
#  / /            //  | //   | |      //   / /         / /\\                                         
# / /            //   |//    | |     ((___/ /         / /  \\     ()                                 
#                                                                         ___   ___                  
#     //   ) )         //   ) )         /|    / /         //   / /           / /            //   ) ) 
#    //               //   / /         //|   / /         //___              / /            //        
#   //               //   / /         // |  / /         / ___              / /            //  ____   
#  //               //   / /         //  | / /         //                 / /            //    / /   
# ((____/ /        ((___/ /         //   |/ /         //               __/ /___         ((____/ /    
# by t-truong
# Configuration file for { tmux }
####################################################################################################
